<h1 class="title">{{site.about_me_title}}</h1>
<p class="description" data-aos="fade-down">
  👋 Hi, my name is Shirin Yamani and I'm from Canada.
</p>
<p class="description" data-aos="fade-down">
  👨‍💻 I'm an NLP Researcher with a focus on Conversational AI.
</p>
<p class="description" data-aos="fade-down">
  💻 I like checking out open source projects and sharing my own code on <a class="highlight-link"
    href="https://github.com/shirinyamani" target="_blank" rel="noreferrer"> Github </a>.
</p>
<p class="description" data-aos="fade-down">
  👥 I have experience working in agile environments and am a convinced advocate of clean code.
</p>
<p class="description" data-aos="fade-down">
  🤖 I automate repetitive processes on my computer via bash or python scripting.
</p>
<p class="description" data-aos="fade-down">
  📈 I am passionate about investing and I'm planning to share my experiences on a blog later on.
</p>
