<h1 class="title">{{site.skills_title}}</h1>

<div id="skills">
  <input type="radio" id="all" name="filter" checked />
  <label class="filter-button neumorphism-button" for="all">All</label>
  <input type="radio" id="frontend" name="filter" />
  <label class="filter-button neumorphism-button" for="frontend">Frontend</label>
  <input type="radio" id="backend" name="filter" />
  <label class="filter-button neumorphism-button" for="backend">Backend</label>
  <input type="radio" id="tool" name="filter" />
  <label class="filter-button neumorphism-button" for="tool">Tools</label>

  {% for frontend in site.data.skills-frontend %}
    <div skill-type="frontend" skill-weight="{{frontend.weight}}" data-aos="zoom-in">
      {{frontend.name}}
    </div>
  {% endfor %}
  {% for backend in site.data.skills-backend %}
    <div skill-type="backend" skill-weight="{{backend.weight}}" data-aos="zoom-in">
      {{backend.name}}
    </div>
  {% endfor %}
  {% for tool in site.data.skills-tools %}
    <div skill-type="tool" skill-weight="{{tool.weight}}" data-aos="zoom-in">
      {{tool.name}}
    </div>
  {% endfor %}
</div>
